[2015-07-29 16:04] mpreisler opened #1 "API for getting overall status"
This issue was originally created by @isimluk at the old repository called scap-client. Since it's valuable I have ported it to the new repository.

Hello Martin, here is an idead:

scap-client could provide API for getting some summary information about the scans results. It may return some details per tasks, but the main feature would be green/yellow/red type of information.

Green: If a periodi

[2015-08-05 12:59] mpreisler opened #2 "Automatically prune old results"
Provide settings in tasks for how many results it should keep and/or how old results it should keep.

[2015-08-05 13:01] mpreisler opened #3 "Non-interactive task_create"
Currently we only support interactive task creation because that's where the daemon helps users. Non-interactive task_create is possible via the dbus API but not via the CLI tool.

[2015-10-13 12:01] mpreisler opened #9 "Implement task result removal"
[code]

Both should ask for confirmation unless `-f` is specified.

[2015-10-13 12:03] mpreisler opened #10 "Task removal"
[code]

If `-r` is provided it should also delete all results. Must refuse to delete task if it has any results.

Should ask for confirmation unless `-f` is specified.

Depends on #9

[2015-10-13 14:36] mpreisler opened #11 "Integration test with a VM or container"
The test would take the working copy, tarball it and install it in a VM or container. Then something like to following would be run:

[code]

This will ensure we don't break basic functionality when developing.

PS: I know beaker would be pretty good for this test but I'd like to have an upstream test that all devs can run on their machines. If that turns out to be too difficult we can resort to b

[2015-10-16 10:44] mpreisler commented on #10
Solved in #14

[2015-10-16 10:44] #10 closed

[2015-10-16 10:44] mpreisler commented on #9
Solved in #14

[2015-10-16 10:44] #9 closed

[2015-10-16 10:50] mpreisler opened #15 "Add virtual machine scanning support"
See `oscap_helpers.py`, function `get_evaluation_args`. This function figures out what daemon should call to evaluate given EvaluationSpec. Right now it supports `localhost`, `ssh://`, `docker-image://` and `docker-container://`. It calls `oscap`, `oscap-ssh` and `oscap-docker` respectively.

Since `oscap-vm` was merged into OpenSCAP recently it makes sense to add `vm-storage://` and `vm-domain://

[2015-10-16 10:55] mpreisler commented on #2
This is an important feature but at the same time we don't need it to be extremely flexible. We need to prune if there are too many results and we need to prune old results.

We need 2 options (heavily inspired by Jenkins):
`days-to-keep-results`
`max-results-to-keep`

[2015-10-16 11:00] mpreisler opened #16 "oscapd-cli to support changing task properties"
There are dbus calls to change task properties but they are not exposed in `oscapd-cli`. Changing task properties is pretty important because it's rare that users get all settings right the first time.

I propose:
`oscapd-cli task X set-title "something"` but I am open to suggestions.

These are the dbus methods:
[code]

There definitely are some missing and some of them lack getters. This issue s

[2015-10-16 16:10] mpreisler opened #17 "Timestamp support for tasks and results"
Use the created and modified timestamps from the filesystems. For task check the `X.xml` spec file, for results use the `exit_code` file, that is the only file guaranteed to be created.

Add dbus methods to query these times, show them in `oscapd-cli`.

[2015-10-17 15:03] mpreisler opened #18 "`oscapd-cli cve-scan`"
The daemon has dbus methods that can scan containers for CVEs. This is used by `atomic scan`. It would be helpful to support this in the oscapd-cli tool as well for easier testing.

[2015-10-17 15:14] mpreisler opened #19 "Devise a better error handling / exception strategy"
Right now we let the raw exceptions bubble through. The daemon is exception safe and cleans up in case of errors but the reporting of the errors is more suitable for developers than users.

@ybznek suggested that we should wrap common errors in exception classes specific to the daemon and show better messages.

Examples:
When task of ID X is not found we show "Task X was not found." instead of "Fi

[2015-10-17 15:28] mpreisler opened #20 "Unify the two configuration classes"
The `image-scanner` and `openscap-daemon` projects merged together and due to time constraints we have made some compromises.

One of them is the existence of `applicationconfiguration` next to `config.Configuration`. The code should be refactored to only use the latter. The hard work of removing the singleton has already been done by @baude in #13. The next step is passing `self.system.config` in

[2015-10-21 09:45] mpreisler commented on #17
Fixed by #21

[2015-10-21 09:45] #17 closed

[2015-10-21 13:38] mpreisler opened #22 "Security of OpenSCAP daemon features"
Some parts of the daemon are harmless and we don't have to require `root` permissions to access it -- for example the CVE scan. Some parts are more or less privilege escalation devices, users can get root rights by injecting content with bash remediations. These remediations can do anything root can do, including giving some particular users root rights. This is obviously something we *have* to av

[2015-10-21 13:38] mpreisler commented on #22
See https://github.com/OpenSCAP/openscap-daemon/blob/master/org.oscapd.conf for more context

[2015-10-23 07:49] ybznek commented on #22
I don't have much experience with issues like that and I don't know how to technically do that...

IMHO the best choice is "optionally drop rights before evaluating " +  "allow anyone within some group to do all the unprivileged safe stuff and only let root do the dangerous stuff"

So, root should be able don't use his rights. I think, there is a lot of content which don't require root rights.

[2015-10-23 11:38] isimluk commented on #22
In a first step, I would go for dropping privileges for CVE scan. Afterall it may execute content from the network.

[2015-10-23 14:47] ybznek commented on #15
oscap-vm uses
[code]

Do you really want to use vm-storage:// instead of vm-image:// ?

[2015-10-23 14:49] mpreisler commented on #15
You are right, let's use `vm-image`.

[2015-10-26 00:22] baude commented on #22
The CVE scan of a containers/images does require root privs because it has to mount a thinpool device.  So while the scan itself does not need to be technically run by root, there are steps to setup and tear down that would.

[2015-10-26 15:26] mpreisler commented on #22
There are 2 distinct problems we need to solve and I apologize for mixing them up in this thread.

1) Who do we allow to interact with OpenSCAP Daemon via dbus and what do we allow them to do?
- can just root create tasks and change tasks or do we allow that for more people?
- special privileged group?

2) Where do we drop privileges in OpenSCAP Daemon?
- scanning local machine with content that d

[2015-10-27 12:11] #15 closed

[2015-11-04 15:48] mpreisler opened #26 "Use async API for CVE scans and one-off evaluations"
CVE scans and one-off evaluations stall the dbus message queue which prevents any other request from reaching the daemon. We need to change to a different paradigm where the dbus call will schedule the action and return a token for the client to poll or cancel.

We will use the same scheduling mechanism that is used for continuous task evaluations.

The target date for this feature is 30th Novembe

[2015-11-04 16:00] mpreisler commented on #16
This has been fixed in #23

[2015-11-04 16:00] #16 closed

[2015-11-12 11:43] isimluk commented on #22
On the other hand solving the (2) first, may put some light on (1).

These are all hardish questions anyway. From user perspective, it would be great if the tool mimics the priviledges of the user (including libvirt, ssh-agent, selinux label (like `staff_t`)). This leads me to think that daemon may want to fork and change identity from root to the user, who scheduled that particular action (reques

[2015-11-20 15:25] mpreisler opened #27 "Provide man pages for oscapd and oscapd-cli"

[2015-11-20 15:26] mpreisler opened #28 "Make sure we are using the correct FSF address everywhere"
Found by @isimluk

[2015-11-20 15:28] mpreisler opened #29 "Provide a better description for the project"
Something in `README.md` that downstreams can use when packaging.

[2015-11-25 17:19] mpreisler opened #33 "Support Python3"

[2015-11-26 09:52] ybznek opened #34 "Daemon stops respond after umount error"
Sorry, I still don't have enough time to provide more useful information.

While testing, it often(but not always) stops at

[code]
It stops responds and it is not killable by ctrl+c (its very annoying!). When I close terminal and try to repeat command ```# atomic scan --all```, I will get
[code]

[code]

[code]

When it freezes, I can see usually something like that in ```mount```
[code]
[code]

[2015-11-26 10:11] ybznek commented on #34
I think, daemon should not stop respond after some error. We can also try unmount after some time. I don't know what use the device, I can add some debug info later to determine problem.

[2015-11-27 12:16] isimluk opened #35 "oscapd should be able to start even without Atomic is installed"
Reproducer:
 * try to install oscapd
 * remove docker&atomic.
 * Play. :)

[2015-11-27 12:26] isimluk commented on #35
More details:
[code]

[2015-11-30 11:37] isimluk commented on #33
setup.py is now able to run in python3 and python2 mode. Please do not break that in the next upstream release.

F24 has (and F23 will shortly have) openscap-daemon in python3. Feel free to run the testing of the run-time in there.

[2015-11-30 14:40] ybznek opened #40 "atomic scan of container creates useless images"
Maybe it's bug of atomic, I haven't investigated it.
When I want to use ```atomic scan CONTAINER``` it creates temporary image but don't remove it.

Reproduce:
- see docker images
- do atomic scan container
- see docker images - you will see new image which you don' want
[code]

[code]

[code]

[2015-11-30 16:17] baude commented on #40
I believe this was fixed.  Are you using recent a recent pull from atomic master?

[2015-11-30 22:16] ybznek commented on #40
@baude Thanks for information. No, when I was recently pulling atomic master, there was some issues, so I've pulled some older revision. I will try to pull new revision and update this ticket status.

[2015-12-01 11:30] ybznek commented on #40
It seems to be fixed in never Atomic version.

[2015-12-01 11:30] #40 closed

[2015-12-01 11:32] ybznek commented on #34
Some new **oscapd** log, 0f7af34baa23 ~ SPC
[code]

[2015-12-07 00:10] ybznek commented on #33
https://github.com/OpenSCAP/openscap-daemon/pull/41 Fix some atomic-scan related python3 issues.

[2015-12-07 16:31] mpreisler commented on #35
Basic support for this since 1fbe86becacae31079b0d10a301a91ac1657369a

`oscapd` starts and errors are only triggered when user attempts to perform container related tasks.

[2015-12-07 16:31] #35 closed

[2015-12-08 17:38] mpreisler commented on #33
AFAIK this has been solved. Reopen if necessary.

[2015-12-08 17:38] #33 closed

[2015-12-09 08:55] ybznek commented on #33
I have fixed atomic-scan related use cases. We should test every daemon use case if there aren't some incompatibility issues.

[2015-12-22 16:48] iankko opened #43 "In current master 'oscapd' service fails to start with Python 2"
[code]

Current result: ```oscapd``` fails to start due some import error
Expected result: ```oscapd``` service started successfully

[2015-12-22 17:05] mpreisler commented on #43
Install `openscap-containers`, then it should work. The deps were skipped since you used `rpm` instead of `yum` or `dnf`.

Reopen if the issue persists.

[2015-12-22 17:21] mpreisler commented on #34
This was fixed by #42

[2015-12-22 17:21] #34 closed

[2015-12-22 17:21] iankko commented on #43
Thanks, Martin. Tried that but without success (maybe am still doing something wrong):

[code]
Do I need to remove openscap_daemon (btw. why openscap_daemon, and not openscap-daemon like for other openscap packages?), rebuild it (with openscap-containers installed) && re-install it? If this is true, shouldn't openscap-containers be a requires for the daemon?

[2015-12-22 17:22] iankko commented on #43
Ad re-opening the issue. I doesn't seem to be able to do so (can only comment on the issue).

[2015-12-22 17:24] mpreisler commented on #43
Hmm, could it be that you have openscap-containers for python3 but you are trying to run openscap-daemon with python2?

[2015-12-22 17:27] iankko commented on #43
Yeah, that looks to be the issue:
[code]
Are there openscap-containers for python 2.7 available, or it will be easier to upgrade to Python 3?

[2015-12-22 17:30] mpreisler commented on #43
Use python3 on Fedora 23.

[2015-12-22 17:30] #43 closed

[2016-01-01 15:32] #18 closed

[2016-01-04 08:02] isimluk opened #44 "Jenkins for this project"
Is it practical to run current test suite in jenkins environment? What are the roadblocks?

[2016-01-07 15:26] mpreisler commented on #26
Done since 91510a799fcaa412665394495b6948ae5ec22fee

[2016-01-07 15:26] #26 closed

[2016-01-07 15:29] mpreisler opened #45 "Fix remaining python3 errors"
* ~~iteritems, iterkeys, itervalues -> items, keys, values~~ DONE
* ~~raw_input -> input~~ DONE
* ~~utf8_strings argument in dbus_python~~ DONE

[2016-01-08 17:42] #45 closed

[2016-01-08 17:43] mpreisler commented on #44
We run it since the beginning, see https://jenkins.open-scap.org/job/openscap-daemon/

The test suite could use some improvements though...

[2016-01-19 14:05] mpreisler opened #46 "Provide a REST API"
We already provide a dbus API but some prospective users would strongly prefer a REST API. We should refactor the System and DBusDaemon classes so that we can run one service that exposes 2 APIs at the same time.

[2016-01-22 08:31] jan-cerny opened #47 "Daemon fails to start due to missing Python requests module"
I have run into issue that I wasn't able to start OpenSCAP Daemon using `systemctl start oscapd` on Fedora 22 Cloud. It seems to be dependent on Python's "requests" module. Here is a snippet from my journal:
[code]
I use openscap-daemon-0.1.1-3.fc22.noarch.

As from I understand, the daemon itself should not depend on `requests`, only the client part should depend on it.

[2016-01-22 09:39] jan-cerny opened #48 "oscapd service should not require docker"
Hello!
I have a fresh **minimal** setup of Fedora 23. I have installed  openscap-daemon-0.1.1-4.fc23 from here: http://koji.fedoraproject.org/koji/buildinfo?buildID=712797. I have tried to start OpenSCAP daemon service, but I have found the service depends on docker service:
[code]
That is because oscapd.service requires docker:
[code]
As from I understand, it should be able to run without docker

[2016-01-22 09:48] isimluk commented on #44
Ah, right. I am sorry, I haven't seen that.

Does it make sense to run the test suite on the pull-requests?

[2016-01-22 11:41] jan-cerny opened #50 "oscapd-cli can't parse its arguments on Fedora23"
Hello!
I have openscap-daemon-0.1.1-4.fc23.noarch on Fedora 23. I can't run the `oscapd-cli` command. I get:
[code]
I think it is wrong processing of object returned by `parse_args()` from argparse. Perhaps it is because Python 3 is used as interpreter.

[2016-01-22 11:58] #48 closed

[2016-01-22 12:06] mpreisler commented on #50
Fixed in 596a7054b7035d068f40e230d106b5286c0cc1c1

[code]

[2016-01-22 12:06] #50 closed

[2016-01-22 12:25] jan-cerny opened #51 "oscapd-cli run without any arguments gives a traceback on Python 3"
Hello! I run `oscapd-cli` on Fedora23 without any argument.
[code]
I think it would give me some error message or usage or help, but no traceback.

[2016-01-22 19:05] mpreisler commented on #51
The output is very slightly different but now it works in both. Fixed in 1302d225b6cec023397a1bad38c8e5897fb83dd6

[code]

Thanks a lot for your tickets, please keep them coming :-)

[2016-01-22 19:05] #51 closed

[2016-01-25 12:22] mpreisler commented on #47
Fixed in 1a0d99b9e1d4da6542878f78e0242915c80c023b

[2016-01-25 12:22] #47 closed

[2016-01-25 12:58] jan-cerny opened #52 "oscapd-cli help should provide list of possible actions"
I have recent daemon from git on Fedora 23, Python3.

I think that when I want to show help for a particular module, it should give me a list of possible actions. But now it shows nothing.

[code]

I would expect there possible values of the ACTION argument.

[2016-01-25 12:58] mpreisler commented on #29
27bfb5cc13c66074955194a4e5976dd3b5a8cc9a

[2016-01-25 12:58] #29 closed

[2016-01-25 13:09] jan-cerny opened #54 "oscapd-cli should not traceback when a prameter is missing on the command line"
For example here, I forgot to specify the title and I got a traceback:
[code]
the same for `oscapd-cli task 1 set-input`, `oscapd-cli task 1 set-target` etc.

I think that the ValueError exception should be catched and displayed a message to user.
I have recent deamon from git on Fedora 23 Python3.

[2016-01-25 13:42] isimluk commented on #29
Thanks! I have amended the Fedora specfile.

[2016-01-25 14:32] mpreisler commented on #52
Yeah, you are right. We should have done the task module using subparsers, similar to the root module. Instead we are using a nasty hack :-/ I will see if this can be fixed in a way that doesn't break CLI.

[2016-01-25 15:29] mpreisler commented on #54
Furthermore, "Not expected parameters" is not quite what we wanted to say there, is it? :D

[2016-01-25 15:41] mpreisler commented on #54
Fixed in 7e38a3df4eaf5745cfff52f8b021d33bacb68586

[code]

[code]

[2016-01-25 15:41] #54 closed

[2016-01-25 16:15] mpreisler commented on #52
Fixed in 80640dd287c62685c2b4f7ee04a6f836e2eb4601

[code]

[code]

[2016-01-25 16:15] #52 closed

[2016-01-25 16:17] mpreisler opened #55 "Better help for `oscapd-cli result`"
Similar to #52

[2016-01-25 16:23] mpreisler commented on #55
Fixed in 14739c241e09cda4bb155e82386116c7c2e55189

[2016-01-25 16:23] #55 closed

[2016-01-25 16:41] mpreisler opened #56 "Provide help for `oscapd-cli eval`"
And improve it so that it's useful, right now it runs evaluation but never stores any results.

[2016-01-28 12:19] mpreisler commented on #27
man page for oscapd added in 847a4c0ede0aa05adf5f89cb2942f55089fee97b

[2016-01-28 12:23] mpreisler commented on #27
man page for oscapd-cli added in 2d7f720d016c2613c04d88b05ebbf2958c07e4f1

[2016-01-28 12:23] #27 closed

[2016-01-28 12:25] mpreisler commented on #56
Since b471a53b9c9dc0121264a6d0fd66213311f8dbb7 user can write out ARF, stdout, stderr when using `oscapd-cli eval`. Rudimentary help added.

[2016-01-28 12:25] #56 closed

[2016-01-28 12:25] mpreisler commented on #44
Certainly, the openscap jenkins bot has all rights necessary to do that.

[2016-02-03 06:58] ybznek opened #58 "Docker exception during scan"
I have created ticket from pull request https://github.com/OpenSCAP/openscap-daemon/pull/57 (some comments are there)
"
Deamon should not die on an exception in docker client.

This exception was observed during atomic scan --images on Fedora23.

Addressing:

[code]
"

[2016-02-03 07:32] ybznek commented on #58
I have tried to add some synchronization lock to search_containers method which allows only 1 run at time and problem doesn't occur during my testing.

But I have created simple python script to ensure that there is some race-condition problem with atomic mount.
The script run simultaneously several mount/unmount but problem doesn't occur.
[code]

I don't know what can cause the problem. It is har

[2016-02-03 14:05] isimluk commented on #58
There is a race condition.

This is only happening because of `_get_cid_from_mountpoint`. Basically when mounting the image, we ask for all the containers, and then ask whether some of these containers haven't been already mounted to the location. I think we can avoid that race condition, simply by not asking this question.

This was introduced by @rhatdan, when working on docker-1.10 `atomic unmo

[2016-02-03 15:09] ybznek opened #59 "GObject.MainLoop, etc. is deprecated"
On Fedora Rawhide(Python 3.5.1) I get

[code]

If somebody fix that, he/she should also test if now version of code is working also with Python 2.*

[2016-02-12 07:54] ybznek commented on #58
We have merged workaround with synchronization lock for mount/unmount, until we don't have better solution.
https://github.com/OpenSCAP/openscap-daemon/pull/60

[2016-02-12 08:02] ybznek opened #61 ""atomic scan --detail" shows bad OS images/containers"
@jan-cerny found this while we were fixing some other issue
[code]

[code]

Our tests doesn't cover it, because it wasn't implemented where tests were written.

[2016-02-15 13:46] jan-cerny commented on #61
Fixed in https://github.com/OpenSCAP/openscap-daemon/pull/62.

[2016-02-15 13:46] #61 closed

[2016-02-16 11:52] ybznek commented on #2
Do you have any recommendation, when to run "delete" routine?
- Have some suspended thread, which wake every day to check 'days-to-keep-results'
- After every scan check number of results - 'max-results-to-keep'

Do you know some more elegant solution?
@jan-cerny

[2016-02-17 13:56] jan-cerny opened #64 "Docker files are missing the label STOP"
Atomic has `stop` command to stop running containers.
To use this feature, the Dockerfile has to contain LABEL STOP, that contains the command to stop the containerized application.

[2016-02-23 09:52] ybznek opened #65 "Start of SPC cause 'Unable to start shell:/bin/bash'"
This is probably not problem of our code, I only want to have this issue somewhere to open discussion.

I have the issue only last days. after I start our SPC, I am not able to start new terminal on my host, I will get only ```Unable to start shell:/bin/bash```. Problem is still here when I kill docker.

When I use our ```LABEL RUN="docker run -dt --privileged --pid=host -v /etc/oscapd:/etc/oscapd

[2016-02-23 16:48] mpreisler commented on #65
@baude, have you seen this as well?

I have seen this with older versions of docker but I was under the impression that it was a known bug and has been fixed. I tried to look for the bug number to reference but can't find it.

[2016-02-23 21:53] baude commented on #65
I'm on the road this week but are you using atomic run <image> or atomic run --spc <image>.  If the latter, that flag is not needed because we already have the permissions that --spc sets in the RUN label.

[2016-02-24 07:10] jan-cerny commented on #65
@baude we are using `atomic run`. We don't use `atomic run --spc`

[2016-02-24 07:22] jan-cerny commented on #65
I use Fedora 23 Workstation and I have similar issue.

1) In GNOME Terminal, run `sudo atomic run openscap/openscap-daemon-f23`
2) Click on File -> Open Terminal
3) I got this:
![screenshot from 2016-02-24 08-16-48](https://cloud.githubusercontent.com/assets/9050916/13278200/fe38ff9c-dace-11e5-8e09-71c948879345.png)

I am unable to open any new terminal Window after running the SPC. If I close all

[2016-02-24 07:26] jan-cerny commented on #65
And when I try to start the fabulous Terminator app instead of GNOME Terminal, I got the message: `Unable to start shell:/bin/bash`. And attention! When I close the Terminator window, I am kicked out from GNOME.

[2016-02-24 09:06] jan-cerny commented on #65
I had an idea that it could be canused by `-t` option in our Dockerfiles, but I verified that removing `-t` doesn't fix the issue.

[2016-02-24 09:08] jan-cerny commented on #65
@mpreisler Do you remember some details about the issue you encountered with older versions? Which versions?

[2016-02-24 15:12] jan-cerny commented on #58
Should we close this issue because has been fixed in https://github.com/OpenSCAP/openscap-daemon/pull/60 ? Or do we want to keep this open as a reminder of the workaround? I suggest closing this issue and opening a new issue with title eg. "Remove workaround locks".

[2016-02-24 15:33] ybznek commented on #58
+1 for new opened issue

[2016-02-24 16:43] mpreisler commented on #2
Ideally we'd do the same thing we do when scheduling evaluations. Sleep until exactly the right time, then delete, sleep again until next event.

[2016-02-24 17:14] mpreisler commented on #58
Agreed, feel free to do that. You should have necessary rights, ping me otherwise.

[2016-02-25 21:05] mpreisler commented on #65
@jan-cerny Sorry but as I said, I can't find references and I don't remember versions.

[2016-03-07 13:33] jan-cerny commented on #65
@mpreisler @baude @all
Hello. Do you know something more about this? Do you have some update?? Thanks in advance for all your info.

[2016-03-07 17:03] jan-cerny commented on #65
As @baude suggested last week, it seems to be related the fact that we bind mount the whole /dev directory (`-v /dev/:/dev`). Is there a way how to mount only necessary parts instead of whole directory?  I mean to mount `/dev/mapper` + have some separated place where the block devices  (`dm-*` files) will be stored.

[2016-03-07 17:06] baude commented on #65
As was explained to me by Dan Walsh, this is actually a bug in docker and is fixed in docker-1.10-ish.

[2016-03-07 17:17] baude commented on #65
@jan-cerny I dropped the -t in the RUN label and it worked for me.  Does it work for you as well ?

[2016-03-07 18:00] mpreisler commented on #65
@baude @jan-cerny Perhaps we can drop the `-t` argument in all the SPC labels. There could be more options and and mounts that are unnecessary. It would be nice to do a review.

[2016-03-08 09:01] jan-cerny commented on #65
Thank you very much for new information.

As I have mentioned above in one of my previous comments, removing `-t` from labels in Dockerfile does not help me, the issue still happens after building and running new container. I have verified it again.

I have installed docker-1.10.2-6.git0f5ac89.fc23.x86_64 from updates-testing repository and the issue doesn't happen with the new version. So I can c

[2016-03-08 11:00] jan-cerny opened #66 "Daemon fails to start when configuration file is invalid"
If `/etc/oscapd/config.ini` contains some nonsense, the deamon fails to start and gives a traceback.
I think we should catch the exception, add an error message into journal and continue without trying to parse the configuration file.

Here is the traceback:

[code]

[2016-03-08 12:40] jan-cerny opened #68 "Missing configuration file"
Our SPC based on F23 does not contain a config.ini file.
This command: `atomic install openscap/openscap-daemon-f23`
produces a message:
```Installation complete. Be sure to customize /etc/oscapd/config.ini as needed.```
However, no such file exists, so user can't customize it.
I think the message is little confusing then.

[2016-03-08 12:58] jan-cerny opened #69 "How will we update SPC images on Docker hub?"
Currently, we have on our account on Docker hub two images of super privileged containers. One of them is based on Fedora 23, second ins based on Fedora 22. See https://hub.docker.com/r/openscap/

I would like to ask all of you what are your opinions:
How often we will update these images?
Should they be updated each time after openscap-daemon is updated in Fedora? Or openscap itself?
Also when ou

[2016-03-08 15:40] mpreisler commented on #65
If we don't need `-t` we should remove it from the label even if it doesn't fix the issue. Having less arguments will make it less complex and hopefully less error prone. Therefore I think we should do a review and remove as many mounts and arguments as possible from the run labels.

[2016-03-08 16:49] mpreisler commented on #66
I strongly disagree. This is not a bug, this is expected behavior. Invalid config files should cause hard loud fails of the daemon so somebody actually notices them.

What we should do is catch the configparser exception and wrap it in an exception explaining that the file is invalid and you should fix it. We definitely shouldn't continue starting the daemon with invalid config.

[2016-03-08 16:49] #66 closed

[2016-03-08 18:08] mpreisler commented on #69
As often as is necessary.

Each time daemon is updated. Each time openscap is updated and the update substantially changes behavior of the daemon.

Yes, when we change Dockerfiles and decide that it makes sense to update the images.

Jenkins job would be great. Any input appreciated.

[2016-03-08 18:08] #69 closed

[2016-03-08 18:09] mpreisler commented on #68
Agreed. We should inject a default pre-filled config.ini that people can customize.

[2016-03-08 18:22] mpreisler commented on #68
https://github.com/OpenSCAP/openscap-daemon/commit/6600dc4a0551e74faf89c59c09d1a27f4a56940e will help with generating a suitable default config for user modification. The API was already there, I just exposed it.

[2016-03-09 11:33] jan-cerny commented on #65
@mpreisler I agree with you. I will remove all `-t`. I will also try to remove other options if possible.

[2016-03-09 11:34] jan-cerny commented on #69
@mpreisler Thank you very much for answer. It makes sense to me.

[2016-03-13 18:03] isimluk commented on #69
What if there is an vulnerability in base image?

Perhaps, we should leave this open until we figure this out.

[2016-03-14 08:22] jan-cerny commented on #65
@mpreisler I reviewed the options last week. I spent some time testing and trying. In my opinion there are some options that could be removed and vulnerability scan would work. However I am not sure whether we need them for configuration scan of containers. I think we can postpone this for later, because I don't want to remove the options and add them back again in a few weeks.

[2016-03-14 14:03] mpreisler commented on #65
@jan-cerny Which options are you not sure about?

[2016-03-15 14:29] jan-cerny commented on #65
@mpreisler:
--pid=host
--env container=docker
--net=host
--cap-add=SYS_ADMIN

[2016-03-15 16:00] mpreisler commented on #65
Yeah, we need all those for security compliance. So did you find options you can remove other than `-t`?

[2016-03-16 08:11] jan-cerny commented on #65
@mpreisler No, I didn't.

[2016-03-16 15:09] mpreisler commented on #65
Ok, let's close this then.

[2016-03-16 15:09] #65 closed

[2016-03-18 13:06] jan-cerny opened #75 ""oscapd-evaluate spec" traceback on Python 3"
The code in `bin/oscapd-evaluate` uses `.decode()` method which is not available in Python3.

Please see the command that I am running and the resulting traceback:

[code]

This also causes that the test suite doesn't pass.

[2016-03-18 19:04] mpreisler commented on #75
ae5ef53c1c8719d6cfafa4f962e1801478e26fa6

[2016-03-18 19:04] #75 closed

[2016-03-18 19:04] #68 closed

[2016-03-24 20:23] mpreisler commented on #59
5f5b8022e6063d5743491eb5916ad0a7a43a29fa Fixed

[2016-03-24 20:23] #59 closed

[2016-03-24 20:28] mpreisler commented on #28
13113103eeaeb4c3c522399ed0ac9056c71c8af6 Fixed

[2016-03-24 20:28] #28 closed

[2016-04-04 13:38] jan-cerny opened #78 "Remove workaround locks"
We have solved occasional tracebacks within atomic mount using locks. However this is only a workaround. This issue is a reminder that it is not a final solution.
See https://github.com/OpenSCAP/openscap-daemon/issues/58

[2016-04-04 13:39] jan-cerny commented on #58
OK. opened new issue https://github.com/OpenSCAP/openscap-daemon/issues/78. Closing this.

[2016-04-04 13:39] #58 closed

[2016-04-04 13:42] mpreisler commented on #78
See https://github.com/OpenSCAP/openscap-daemon/blob/master/openscap_daemon/cve_scanner/scan.py#L38

This only affects the `cve_scanner` module in openscap_daemon. Please note that `cve_scanner` module is going to be deprecated and unused soon.

[2016-04-06 14:49] jan-cerny opened #79 "oscapd-cli traceback without any arguments"
Hello, I use openscap-daemon-0.1.4-1.fc23.noarch from Fedora 23 updates testing repository.
and I have seen a traceback when I omitted -i option:
[code]

[2016-04-06 15:12] ybznek commented on #79
I suggest to close this issue.
https://github.com/OpenSCAP/openscap-daemon/issues/3

Now it really says what is wrong "NotImplementedError: Not yet!" and traceback is bonus. :+1:

[2016-04-07 08:49] jan-cerny commented on #79
I see, but I am not much happy when I get such a "bonus" :-)

[2016-04-22 15:30] mpreisler commented on #79
It is not implemented so this is really a feature request, not a bug...

[2016-04-25 12:05] jan-cerny commented on #79
Ok, I only thought that it is not nice to show tracebacks to users. In my opinion it would be better to catch this exception and show an error message.

[2016-04-25 12:55] iankko opened #82 "When pushing SPC openscap-daemon Docker images to Docker hub, please sign them"
Docker starting from 1.8 introduced concept of Docker Content Trust (The Update Framework):
* https://blog.docker.com/2015/08/content-trust-docker-1-8/

which allows images to be signed when publishing to Docker hub. The consumers can later verify the producer of these images (prevent also image forgery, image replay attacks etc.)

We should start using this functionality when creating openscap/op

[2016-05-18 10:59] mvazquezc commented on #46
Hi!,

I've written a Python API using flask on top of your daemon, maybe it can be integrated somehow.

https://github.com/mvazquezc/oscap-daemon-api

[2016-05-19 14:12] mpreisler commented on #46
Hi @mvazquezc. Your project looks great, would you be interested in refactoring it and submitting it as a pull request here? I think we could refactor the code so that dbus and REST APIs can be used in any combination, depending on `config.ini`.

Could you please relicense your code as LGPL? I can't change the license of this project.

[2016-05-21 14:26] mvazquezc commented on #46
Sure! It will take me some time but I'll send a PR as soon as I have the new implementation coded.

[2016-06-09 15:25] mvazquezc opened #84 "Ability to run remote ssh scans with sudo privileges"
I've been testing and it works fine on newer versions of openscap (those which includes --sudo option).

Adding --sudo to the evaluation args works fine, but we need all the program logic to decide whether to add --sudo to the args or not. And probably we need to store a flag to tell daemon when to run scans with sudo privileges.

[code]

Destination's machine mustn't require TTY to run sudo (scan

[2016-06-09 21:13] mpreisler commented on #84
We could do it cleanly by adding `ssh+sudo://` to the target URI schemes.

[2016-06-09 21:21] mvazquezc commented on #84
You're right. I'm going to give it a try tomorrow. I'll PR changes. Thank you!

[2016-06-10 20:04] mpreisler commented on #84
Implemented in #85.

[2016-06-10 20:04] #84 closed

[2016-06-10 20:34] mpreisler commented on #2
I have implemented old results pruning. Right now we prune if we have more results than some number. Old results are pruned first.

21e884e33169660d27bcb7930cc486bbdf3b1932

[2016-06-10 20:34] #2 closed

[2016-06-27 07:20] jan-cerny opened #86 "oscapd-cli traceback when run with non-root privileges"
oscapd-cli eval needs to be run as root. When run as normal user it produces a traceback.
I suggest to display a message instead. For example: "This command needs to be run as root."

Traceback:
[code]

I am using deamon 0.1.6 on Fedora 23 with Python3, from git with head 21e884e33169660d27bcb7930cc486bbdf3b1932

[2016-07-11 15:30] mpreisler commented on #86
Displaying "This needs to be run as root." is not the right thing IMO. Running openscap-daemon as a different user may be perfectly fine, depending on dbus policy. Let's catch the exception and wrap it in something user friendly. Personally I like tracebacks being included in errors, when users report issues it makes it much easier to fix them. Perhaps I am missing something here.

[2016-07-11 15:31] mpreisler commented on #79
I am a fan of tracebacks, they are very useful. I don't find them offensive or embarrassing. Perhaps that's just me though.

[2016-07-12 07:29] jan-cerny commented on #86
Yes, catching the exception and displaying user-friendly message is the solution that I expected.
Just the text of the message should be something like "Permission denied on accessing dbus". Thanks for the clarification.

[2016-07-12 07:54] jan-cerny commented on #79
@mpreisler I also like when an bug report contains a traceback, it is definitely helpful for me.

But in my opinion tracebacks that have already been reported should be handled or fixed. It is quite easy to do it in Python. I think that a traceback should appear only when something went wrong that we don't know about yet.

In this particular case, the expected behavior is to tell the user that he

[2016-07-19 11:42] jan-cerny commented on #86
Fixed in https://github.com/OpenSCAP/openscap-daemon/pull/89

[2016-07-19 11:42] #86 closed

[2016-07-19 11:42] jan-cerny commented on #79
Fixed in https://github.com/OpenSCAP/openscap-daemon/pull/87

[2016-07-19 11:42] #79 closed

[2016-08-04 15:27] ridwa opened #91 "oscapd-cli task-create -i (ERROR EXCEPTION)"
During the creation of new task , i have this result issue :

[code]
Could you give some help , thank you

[2016-08-05 14:46] mpreisler commented on #91
Fixed by #92

[2016-08-05 14:46] #91 closed

[2016-08-10 15:49] mpreisler opened #93 "Remove obsolete cve_scanner package"
CVE scanning is now done as a task, the cve_scanner package is of no use. Let's remove it so that we don't have to maintain it any more.

[2016-08-10 15:50] mpreisler commented on #78
If we decide to do this for 0.2.0, #93 will be enough to solve this bug.

[2016-08-10 15:51] mpreisler commented on #64
@jan-cerny Can you provide an example? This sounds like low hanging fruit.

[2016-08-10 15:51] mpreisler commented on #20
#93 will get rid of this.

[2016-08-11 06:47] jan-cerny commented on #64
@mpreisler I had a look into this today again. The label STOP contains a command that should be run just before stopping the container. When this label is not present, `atomic stop` just stops the running container.

The manual page `man atomic stop` provides this example:

[code]
Please see the man page for clarification of this command.

For us it means:

- If we need to eg. send a signal or run

[2016-08-12 13:33] mpreisler commented on #44
https://jenkins.open-scap.org/job/openscap-daemon-pull-requests/

[2016-08-12 13:33] #44 closed

[2016-08-12 13:35] mpreisler commented on #64
@jan-cerny Yeah, the daemon will react to SIGINT and SIGTERM as you'd expect. I think sending an interrupt and waiting a few seconds would do the trick.

[2016-09-06 15:10] mpreisler commented on #64
Fixed in c267fd086976646f8d805264ebadf01dea767c5a

[2016-09-06 15:10] #64 closed

[2016-09-06 15:12] mpreisler opened #94 "Change COPR references to the openscap-latest COPR"
@isimluk's COPR is no longer being maintained.

[2016-09-06 15:18] mpreisler commented on #94
Fixed in 3fd5c75a08223de35a865d026d2a6980ec9c1d74

[2016-09-06 15:18] #94 closed

[2016-09-08 12:44] jan-cerny opened #95 "oscapd-cli error when attempting to display results of a notexisting task"
Hi, when I accidentally tried to get results of a task that does not exist on my system (and never existed), I got a beautiful error with a lovely traceback, which can be seen below.

However as a user I would expect some ugly error message instead, eg. "Task number 8 does not exist".

[code]

I am using openscap-daemon-0.1.6-1.fc25.noarch on Fedora 25 Server alpha.

[2017-05-02 13:09] jan-cerny opened #97 "oscapd-evaluate should not report that evaluation was done if it wasn't done"
I think that following output is horribly confusing, because in this case neither CVE scan nor Standard compliance scan was performed.
[code]
The only thing that has been done was that applicable CPEs were determined, but I will not say that the "target was scanned". I see determining CPEs as a special use-case, that has to be done before scan.

I know that technically it's a scan, because it uses

[2017-05-02 13:15] jan-cerny commented on #97
It's even more confusing for me when I run
```oscapd-evaluate scan --no-cve-scan  --output output```
and it says immediately:

[code]
and then nothing happens for tens of seconds and my CPU cooler starts to spin.
It gives me an impression that it's stalled and I should kill it.
But actually it's evaluating `"Verify and Correct File Permissions with RPM"` rule, which take some time.

If I'm patient

[2017-05-05 14:19] jan-cerny opened #101 "Terminate scanning if the target docker image doesn't exist"
The oscapd-evalaute scan tracebacks when it tries to read scan results, that looks like too late.

I would expect to terminate with a nice error message and don't attempt to scan at all.

[code]

This might need to be fixed in oscap-docker as well, beacuse the error message `blabla did not match any image or container.` is coming from oscap-docker, which doesn't exit at that point, but happily con

[2017-06-06 11:50] jan-cerny opened #102 "Update Dockerfiles"
We have Dockerfiles in this repository to build various containers with OpenSCAP, either packages or from git.  They are outdated and very different from what is used in `registry.access.redhat.com/rhel7/openscap`. I think that for testing and development it would be beneficial to have a Dockerfile that will build an image that is very similar to `registry.access.redhat.com/rhel7/openscap`, but wi

[2017-06-06 12:14] jan-cerny opened #103 "A false warning thrown by oscapd-evaluate in atomic scan"
When we run `atomic scan`, we don't have docker installed inside the `openscap` container 😬
Therefore the warning that container scanning is disabled is a false warning, because we actually scan a container, just oscapd doesn't know about it.

[code]

[2017-06-06 18:36] shawndwells commented on #102
On 6/6/17 7:50 AM, Jan Černý wrote:

.... there are OpenSCAP container images in Red Hat's registry?! What
are they used for? Better yet.... where is the documentation on what
OpenSCAP Daemon is?

I know work was happening on GitHub... never heard this was shipping!

[2017-06-06 18:47] mpreisler commented on #102
There is https://github.com/OpenSCAP/openscap-daemon/blob/master/README.md

openscap-daemon is used for atomic scan feature. Only a small subset of what openscap-daemon can do is used in production today.

[2017-06-08 08:52] jan-cerny commented on #82
I suggest closing this ticket as we don't publish SPCs on Docker Hub anymore, instead there is a container in Red Hat Registry.

[2017-06-08 08:57] jan-cerny commented on #97
@mpreisler I'm interested in your opinion on this. I suggest handling CPEs determination in a special way so that it is not reported as a scan.

Also I think that we could show the progress while evaluating, that would be beneficial especially for profiles with many rules. Waiting for tens of seconds without any output isn't user friendly.

[2017-06-08 09:09] jan-cerny commented on #102
There are multiple solutions:

* Keep the current directory structure in `atomic` and `atomic-git`. Update all current Dockerfiles, add all the files. However I'm afraid that there will be a lot of duplicates.
* Remove the `atomic` and `atomic-git`. Make a new directory, that would contain Dockerfile and other files. We can copy-paste that `registry.access.redhat.com/rhel7/openscap`
* Make a scrip

[2017-06-16 12:26] jan-cerny commented on #102
I use now this workflow: I have a Dockerfile locally, I have `./build.sh` and it creates a Fedora based image, with fresh upstream OpenSCAP Daemon. The image is tagged `openscap:testing`, then I just change the image name in `/etc/atomic.d/openscap` and Atomic uses it instead of registry.access.redhat.com/rhel7/openscap automatically. This seems really easy and works OK so far.

Are we insterested

[2017-06-22 12:25] jan-cerny commented on #102
I have opened a thread on the mailing list to affect more people.
https://www.redhat.com/archives/open-scap-list/2017-June/msg00009.html

[2017-06-23 10:07] jan-cerny commented on #97
Any suggestions?

[2017-07-11 13:43] jan-cerny commented on #102
What about using S2I for build directly from source? https://docs.openshift.com/enterprise/3.2/creating_images/s2i.html#creating-images-s2i

[2017-07-17 13:08] jan-cerny commented on #102
Fixed in https://github.com/OpenSCAP/openscap-daemon/pull/106

[2017-07-17 13:08] #102 closed

[2017-07-17 13:12] jan-cerny commented on #97
@OpenSCAP/daemon-developers ???

[2017-08-17 07:36] jan-cerny opened #108 "[RFE] Add rule IDs and CCEs to results"
We want that Atomic scan stdout is similar to stdout are produced by `oscap xccdf eval`, we would like to
 add XCCDF IDs and CCEs there, and maybe something more.

This needs to be implemented on openscap-daemon side. The Daemon saves its results to a JSON. However, there is only rule name, severity, and XCCDF result. It looks easy to add XCCDF IDs and CCEs, because we already parse ARF to get the

[2017-09-15 08:34] matusmarhefka opened #112 "atomic scan exits with error when scanning RHEL docker image in offline environment"
Reproducer (I simulate offline env using a network namespace which has only loopback device):
[code]

The error message is very misleading, it looks like unhandled exception in function `get_rhel_cve_feed` in `openscap_daemon/cve_feed_manager.py`.

[2017-09-26 09:05] matusmarhefka opened #113 "atomic scan tracebacks when scanning image using invalid profile"
For example, scanning fedora docker base image using DISA STIG profile results in a following traceback:
[code]

[2017-09-27 18:58] mpreisler commented on #103
The warning is confusing but it is technically correct.

[2017-09-28 16:25] mpreisler commented on #97
Yeah, sure.

[2017-09-28 16:33] mpreisler commented on #95
I wanted to fix this but it would be a large change, would need refactoring of most methods in the `system.System` class. Let's postpone this.

[2017-09-28 16:36] mpreisler commented on #103
Fixed by 05535ac8f0a07acbabe9147546999bd054050c90

[2017-09-28 16:36] #103 closed

[2017-10-17 15:58] matusmarhefka opened #116 "scanner_args cmd option does not support xccdf-id"
The scanner_args cmd option should support xccdf-id option for scanner as some profiles are not accessible without it. Current behaviour (used with atomic scan frontend):
[code]

[2017-10-24 12:59] #116 closed

[2017-11-08 09:19] matusmarhefka opened #121 "Remediation of containers for configuration compliance has inconsistent output"
When remediating containers for configuration compliance, the output of scan vs. remediation is inconsistent:

[code]

Scan results do not state the rule IDs only descriptions and on the other hand, remediations of rules are stating rule IDs which might be confusing for user to map to the original scan results.

I think we should either print rule descriptions in remediations (as for the scan) or

[2017-11-14 11:14] matusmarhefka opened #122 "openscap container image: provide option for user to find out what datastreams and profiles are supported"
When scanning for **configuration compliance** using atomic scan user has no easy way how to find out what **datastreams** and **profiles** are supported (bundled inside the openscap container image).

The issue is partialy fixed by added support for `atomic help` command which at least prints the version of bundled scap-security-guide inside the openscap container image (PR https://github.com/Ope

[2017-11-14 11:25] matusmarhefka commented on #122
I can think of two solutions for this issue:

- Update `atomic help` command to print all supported datastreams and profiles.
- Change the default behavior that configuration compliance scan without any arguments will print info about supported XCCDF components and profiles of the selected datastream (as we would have the target image for scan, `oscapd-evaluate` will select the corresponding datas

[2017-11-14 11:33] jan-cerny commented on #122
Maybe atomic help could print a table, where rows would be unique profile IDs.
Example
[code]

[2017-11-14 11:43] matusmarhefka commented on #122
@jan-cerny I like the idea with table.

[2017-11-14 12:17] jan-cerny commented on #121
If you want to change the output of remediations you have to change it in OpenSCAP because the remeditatons headers are generated by OpenSCAP. But I think it would be a nice easy feature for OpenSCAP.

[2017-12-15 09:31] wiredaem0n opened #123 "Can't save report"
Getting the following error when trying to save report to a file.  Note that running the report without redirecting the output to a file works.

`# oscapd-cli result 1 1 report > sample-report.html
Traceback (most recent call last):
  File "/bin/oscapd-cli", line 846, in <module>
    main()
  File "/bin/oscapd-cli", line 838, in main
    cli_result(dbus_iface, args)
  File "/bin/oscapd-cli", line

[2018-01-16 14:11] matejak commented on #123
It is a somewhat tricky issue - Python doesn't know the encoding of the file you are trying to write, and this is a problem for python2. Although it can be fixed in a smarter way, you can try this quick fix:
`PYTHONIOENCODING=UTF-8 oscapd-cli result 1 1 report > sample-report.html`

[2018-02-08 15:28] matejak commented on #112
As noted in https://bugzilla.redhat.com/show_bug.cgi?id=1498859 this seems to be a openscap scanner bug that misleads the openscap-daemon running in the container.

[2018-02-08 15:30] matejak commented on #123
I think that as we write an HTML file, we know that we use the UTF8 encoding, so it should be fixed in the code.

[2018-02-22 22:48] dahaic commented on #112
@matusmarhefka  is this issue actionable? For example making `openscap-daemon` more stable and not producing so confusing RuntimeError? If you don't see need for any action on daemon side, please close the issue :)

[2018-02-23 15:53] yuumasato commented on #113
Closed via #127

[2018-02-23 15:53] #113 closed

[2018-02-27 15:29] matusmarhefka commented on #112
Closing the issue, in this case openscap-daemon correctly reports the error about CPEs which are incorrectly reported by openscap scanner.

[2018-02-27 15:29] #112 closed

[2018-04-12 11:34] iamtanmay opened #134 "WARNING:Can't import the 'docker' package. Container scanning functionality will be disabled."
Hi.

I am on RHEL 7. I yum installed docker

Docker is active and running. systemctl enable docker, systemctl start docker

I yum installed docker-python-1.4.0-115.el7 and I yum installed openscap-utils, to get openscap-docker functionality.

Yet, I keep getting the warning on verbose mode (atomic scan --verbose ....)

"WARNING:Can't import the 'docker' package. Container scanning functionality wi

[2018-04-12 12:30] jan-cerny commented on #134
Hi @iamtanmay If you scan container using `atomic` command, this warning should not not affect you, it should be affecting only the low-level `oscap-docker` command.

Does `atomic scan` produce any results?

[2018-04-12 12:53] iamtanmay commented on #134
Yes, the results seem to be as expected. Please see below and tell me if it looks wrong:

atomic scan --verbose registry.access.redhat.com/rhscl/nodejs-6-rhel7

gives:

The following issues were found:

     RHSA-2018:0502: kernel-alt security and bug fix update (Important)
     Severity: Important
       RHSA URL: https://access.redhat.com/errata/RHSA-2018:0502
       RHSA ID: RHSA-2018:0502-01

[2018-05-09 12:54] jan-cerny opened #137 "scrape_profiles does not have enough arguments"
In oscap_helpers.py, function `scrape_profiles` has 5 arguments, but sometimes only 1st, 4th and 5th are given. The 2nd and 3rd argument are missing.

eg.
* https://github.com/OpenSCAP/openscap-daemon/blob/master/openscap_daemon/oscap_helpers.py#L145
* https://github.com/OpenSCAP/openscap-daemon/blob/master/openscap_daemon/oscap_helpers.py#L145

I think this will cause errors that not enough argum

[2018-05-10 17:53] mpreisler commented on #137
Yeah, good catch. https://github.com/OpenSCAP/openscap-daemon/pull/117 caused a regression in all use-cases of openscap-daemon except atomic scan, we need to fix this ASAP

the function no longer works for XCCDF files, only for datastreams

[2018-06-20 13:00] #137 closed

[2018-06-20 15:02] yuumasato commented on #3
This is interesting task to get acquainted openscap-daemon.

[2018-07-12 15:55] naltun commented on #46
Hey guys. Is providing a REST API still planned, or has it been put to rest?

I wasn't aware of the `dbus` API, so I'll take a look at that. Having a REST API would be awesome, though. Also, I'm taking a look at @mvazquezc's `oscap-daemon-api`. Pretty nifty. I'll have to test that at some point.

[2018-07-12 16:08] jan-cerny commented on #46
@naltun I agree that a REST API would be awesome. However, I think it is still just an idea.

[2018-07-12 17:49] naltun commented on #46
@jan-cerny I've never hacked onto OpenSCAP (nor OpenSCAP Daemon), but if I can help out with the REST API, I'd be happy to help.

[2018-07-23 09:53] tuxmaster commented on #123
Workaround: see [EPEL Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1601901)

[2018-07-23 10:00] tuxmaster opened #142 "oscapd runs at 100% cpu time and call's to it will fail"
Version: 0.1.10
OS: CentOS 7.5

1.  call oscapd-cli task
2. call oscapd-cli task 1 disable
The second command will fail with:

And now all "oscapd-cli" calls will with the same error.

Running oscapd in verbose mode will not shown any output.

[2018-07-23 14:01] cipherboy commented on #142
(edited for formatting)

@tuxmaster For future reference, use three backticks (`) to start and end a "block code mode" and single backticks around commands to give them an inline-code mode. :)

(if you click edit on your post you should be able to see my changes)

[2018-08-22 13:53] rshade commented on #46
I have been using @mvazquezc openscap api, and its great. It seems to have all the requisite features and the report and guide are awesome.

[2018-08-22 14:16] naltun commented on #46
Can OpenSCAP fork and test the project, and manage their own version? Is this a potential option?

[2018-08-29 21:00] mpreisler commented on #46
Definitely an option. We all have time constraints though. If you want to make it very likely that we will integrate this into openscap-daemon please feel free to submit a PR yourself. Waiting for somebody else might also sometimes work but it has been two years :-)

[2018-08-31 14:04] rshade commented on #46
@mpreisler would you be willing to make us a feature branch to work off of, so we can sync many disparate forks?

[2018-08-31 14:08] rshade commented on #46
Also can we setup a wiki for design ideas. My first initial move would be to dump @mvazquezc code in there once he changes the license out and approves it, but we would need to discuss how openscap-daemon will serve http requests.

[2018-08-31 19:09] mvazquezc commented on #46
I've changed the license to use the same licenses as OpenScap Daemon.

I just took a look at this a few days ago. I've done some changes to the daemon to read the API config from the config file.

We can migrate the main class and just use the method defined on the OpenScap daemon (there is no need to talk with the DBUS daemon anymore, correct me if I'm wrong though.)

I'm willing to help with thi

[2018-09-02 00:07] mpreisler commented on #46
Agreed, there shouldn't be any need to talk REST to dbus to daemon API, REST can talk directly to the API.

[2018-09-05 19:26] mpreisler commented on #46
just for public record, I gave @mvazquezc write access to the repo. I think doing those changes in a separate branch and then merging into master after things stabilize is the way to go.

[2018-09-06 12:08] jan-cerny commented on #93
I don't think we can remove it, because `oscapd-cli` scan uses `cli_scan` which uses `CVEScanListAsync` which uses `Worker` which is defined in cve_scanner package.
@dahaic @mpreisler @matejak @yuumasato @mildass @matusmarhefka  Do we want to drop this functionality from `oscapd-cli`?

[2018-09-06 19:10] dahaic commented on #93
@matusmarhefka `atomic scan` is just using daemon. Let's look at it from the perspective of daemon, not one particular use case.

@jan-cerny I would suggest to preserve the functionality.

[2018-09-07 07:04] jan-cerny commented on #93
@matusmarhefka I think it isn't using `oscapd-cli`. I think you're right that it uses `oscapd-evaluate`.

[2018-09-07 07:05] jan-cerny commented on #93
@dahaic I agree that we should preserve the functionality.

[2018-09-07 07:06] jan-cerny commented on #93
Do you think we should rework the code to avoid using the `cve_scanner` package?

[2018-09-07 13:39] mpreisler commented on #93
the cli_scan stuff is virtually unused, it was replaced with oscapd-evaluate and the task API VulnerabilityScan mode. We can remove cli_scan IMO, it's obsolete anyway.

[2018-10-03 14:44] matejak commented on #78
Closing as sortof duplicate of #93

[2018-10-03 14:44] #78 closed

[2018-10-03 14:45] matejak commented on #20
This is a sortof duplicate of #93

[2018-10-03 14:45] #20 closed

[2018-10-18 16:52] mvazquezc opened #145 "Refactor code to make dbus interface optional"
As discussed [here](https://github.com/OpenSCAP/openscap-daemon/pull/144).

I'm opening the issue so we can track the progress here.

[2019-05-23 14:59] Zehirlolz opened #146 "Is the cockpit Integration dropped ?"
Hello,

I see in the readme that a cockpit integration was planned for a while now ?
Is it still planned ? Or did you dropped the idea of doing it ?

Thanks !

[2019-05-24 06:17] jan-cerny commented on #146
Hi @Zehirlolz . I think it was just an idea. We don't plan to work on it anymore. However, we like the idea and we welcome anybody who wants to contribute.

[2020-10-07 13:27] punkymaniac opened #153 "TypeError: '<' not supported between instances of 'AsyncUpdateTaskAction' and 'AsyncUpdateTaskAction'"
With multiple tasks scheduled, I regularly catch this error and the daemon stop to process scheduled scan.

[code]

I need to remove all task (or I can keep only one) and restart the daemon to return in a working state.
I continue to investigate to find a state where I can reproduce the error each time.
Someone have already get the same error ?

[2020-10-09 10:42] punkymaniac commented on #153
The issue came from a tuple comparison, when a tuple is add on the AsyncManager class queue.
The class AsyncUpdateTaskAction doesn't have a lower comparison operator, so they couldn't be compare with each other.
I will propose a fix for it.

[2020-10-14 08:07] punkymaniac commented on #3
What about this ?

[2022-01-17 05:39] amanjha18 opened #157 "from gi.repository import GObject as gobject ModuleNotFoundError: No module named 'gi'"

[2022-01-17 05:41] amanjha18 commented on #157
getting error in ubuntu - i already use this command : $ sudo apt install python3-gi

[2022-01-27 16:19] matejak commented on #157
The error message simply says that you don't have the `gi` module available when running the daemon. Please come up with a full reproducer so we can perhaps give a better advice.